{% extends "notez/layout.html" %}

{% block body %}

  <img class='rounded mx-auto d-block' src='/static/notez/android-chrome-192x192.png' alt='logo' id='logo'>
  <h1 class="display-1 text-center m-6 p-6">Welcome to Notez</h1>
  <p class='display-6 text-center m-6'>Take quick notes, shared them with your friends</p>

  <h2 class="text-center m-4">Register</h2>
  <div class="container p-3">
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input
          class="form-control border-dark mb-1"
          autofocus
          type="text"
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control border-dark mb-1"
          type="email"
          name="email"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control border-dark mb-1"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control border-dark mb-1"
          type="password"
          name="confirmation"
          placeholder="Confirm Password"
        />
      </div>
      <input class="btn btn-danger" type="submit" value="Register" />
    </form>
  </div>

  {% endblock %}
